.userCard {
    background-color: #D9D9D9;
    width: 80%;
    height: 260px;
    border-radius: 25px;
    min-width: 650px;
    margin: 0 auto;
}

.userCardContainer {
    display: flex;
    flex-flow: row;
    justify-content: start;
    column-gap: 20px;
    color: #000;
    width: 100%;
    height: 260px;
    padding: 20px 30px;
}

.userPhoto {
    flex: 0 0 auto;
    width: 220px;
    height: 220px;
    border: 2px solid #005CFF;
    border-radius: 100%;
}

.userPhoto:hover {
    filter: brightness(1.1);
    border: 2px solid #093a91;
    box-shadow: 1px 1px 20px rgba(0, 94, 255, 0.3);
    transition-duration: 8ms;
}

.userDescription {
    display: inherit;
    flex-flow: column;
    justify-content: center;
    row-gap: 12px;
    text-align: left;
}

.userName {
    font-size: 1.5em;
    color: #005CFF;
}

.userName:hover {
    color: #093a91;
    transition-duration: 8ms;
}